table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px;
}

td {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

th {
  font-family: Consolas;
}

.left {
  text-align: right;
  border: 1px solid black;
}

.top {
  vertical-align: bottom;
  border: 1px solid black;
}
