body {
    font-family: sans-serif;
    background-color: #aff;
}

.wrapper {
    padding: 5%;
    margin: 5% auto;
    width: 50%;
    min-width: 40em;
    background-color: #fff;
}

h1 {
    text-align: center;
}
h2 {
    margin-top: 2em;
}
h3 {
    margin-bottom: -0.4em;
}

.nospace {
    margin-top: 0;
}

strong {
    color: #a03;
}

p + ul, p + ol {
    margin-top: -0.7em;
    margin-bottom: 0.2em;
}

.spacedlist {
    margin-top: 0;
}


.video {
    display: block;
    width: 560px;
    margin: 0 auto;
    padding: 0;
}

img {
    width: 100%;
}

.back {
    margin-top: 3em;
    text-align: right;
}